@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary-dark  : 210deg 23% 40%;
    --color-primary-mid  : 210deg 23% 65%;
    --color-primary-light : 210deg 23% 85%;
    --color-accent        : 0deg 65% 60%;
    /* --color-text          : 210deg 23% 40%; */
    /* --color-background        : 30deg 38% 99%; */
    /* --color-background-accent : 30deg 38% 96%; */
    --color-text              : 210deg 23% 20%;
    --color-background        : 34deg 19% 98%;
    --color-background-accent : 34deg 19% 96%;
}

.dark {
    --color-primary-dark  : 210deg 23% 85%;
    --color-primary-light : 210deg 23% 35%;
    --color-accent        : 0deg 45% 60%;
    --color-text          : 210deg 23% 95%;
    --color-background        : 210deg 23% 10%;
    --color-background-accent : 210deg 23% 7%;
}

@layer base {
    a {
        @apply border-b-2 border-accent/50
    }

    button {
        @apply cursor-pointer
    }

    [x-cloak] { display: none !important; }
}
